<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="HandheldFriendly" content="true">
		<meta name="description" content="{{config.desc}}">
		<meta name="keywords" content="{{config.tags}}">
		<meta name="copyright" content="Barış DEMİRCİ">
		<meta name="author" content="Barış DEMİRCİ">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<link rel="icon" href="{{config.icon_url}}" type="image/x-icon">
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
		<link href="style.css" rel="stylesheet">
	</head>
	<body class="text-white">
		{{{body}}}
		<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
		<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
	</body>
</html>